.container {
  width: 100%;
}

.rowContainer {
  display: flex;
  justify-content: center;
}

.cardLarge {
  display: inline-block;
  margin: 0.5%;
  height: 10rem;
  width: 60%;
  border-radius: 1rem;
  border: 'none'
}

.cardSmall {
  display: inline-block;
  margin: 0.5%;
  height: 10rem;
  width: 35%;
  border-radius: 1rem;
  border: 'none'
}

.cardFontSize {
  font-size: 2rem;
  font-weight: bold;
}

.buttonStyle {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 1rem;
  padding: 4px 15px;
  border: 1px solid #d9d9d9;
  background: #ffffff;
  line-height: 1.5714285714;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.cardSmall:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
  border-color: #0d4977;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.cardLarge:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.08);
  border-color: #0d4977;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (max-width: 1024px) {
  .rowContainer {
    flex-direction: column;
    align-items: center;
  }

  .cardLarge,
  .cardSmall {
    width: 90%;
    height: 10rem;
    margin: 5px;
    border-radius: 1rem;
    border: 'none'
  }

  .cardFontSize {
    font-size: 1.5rem;
  }
}