.container {
  background: linear-gradient(135deg, #000000 0%, #000000 30%, #0d4977 100%);
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  width: 30%;
}

@media (max-width: 1024px) {
  .container {
    background: linear-gradient(135deg, #000000 0%, #000000 30%, #0d4977 100%);
    height: 100vh;
    margin: 0;
    width: 100%;
    display: block;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .container::-webkit-scrollbar {
    display: none;
  }

  .card {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
  }
}