.paginationNav {
  border-top: 1px solid var(--ifm-hr-border-color);
  margin-top: 24px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.paginationNav > * {
  flex: 1;
}

.paginationNav > *:first-child {
  margin-right: 16px;
}

.paginationNav > *:last-child {
  margin-left: 16px;
  text-align: right;
}
