
.homepage {
    --home-title-color: #123D91;
    --home-subtitle-color: #515154;
    --home-little-title-color: #000000;

    --home-ruyi-light-blue: #D9E0F3;
    --home-ruyi-light-gold: #FDEFC3;
    --home-ruyi-blue: #90b3ff;

    --ifm-link-color: #86868B;
    --ifm-link-hover-color: #002677;
    --ifm-link-decoration: none;
    --ifm-link-hover-decoration: none;
}