.footer {
  background-color: #fff;
  padding: 1.5rem 0 1.5rem 0;
  color: #222;
  font-size: 18px;
  line-height: 20px;
  /* margin: 0 auto; */
}

.footer__links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
  /* max-width: 1600px; */
  margin-left: auto;
  margin-right: auto;
}

.footer__col {
  width: 300px;
  min-width: 300px;
  margin: 0 20px 16px 20px;
  text-align: left;
}

.footer__title {
  font-weight: 900;
  margin-bottom: 0.5rem;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;
  position: relative;
}
.footer__title::after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  margin-top: 4px;
}

.footer__items {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer__item {
  margin-bottom: 14px;
  line-height: 20px;
}

.footer__item a {
  color: #222 !important;
  text-decoration: none !important;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  transition: color 0.2s;
}

.footer__item a:hover {
  text-decoration: underline !important;
}

.footer__copyright {
  top: -10px; 
  text-align: center;
  margin-top: 0;
  color: #222;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: none;
  text-decoration: none;
}