name: Check docusaurus build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - uses: actions/setup-node@v4
        with:
          node-version: 22.4.1
          cache: pnpm

      - name: Install dependencies
        run: pnpm install
      - name: Build website
        run: pnpm run build
      - name: Check diff
        run: |
          git diff src/components/Community/generated_contributors.json > generated_contributors.patch
          if file generated_contributors.patch | grep diff; then
            cat generated_contributors.patch
            false
          fi

  dco:
    name: DCO compliance
    runs-on: ubuntu-latest
    steps:
      - name: Run dco-check
        uses: christophebedard/dco-check@0.5.0
        with:
          python-version: '3.12'
          args: '--verbose'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
