name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/deploy.yml
      - .github/workflows/composite_npm_build/**
      - biweekly/**
      - blog/**
      - docs/**
      - i18n/**
      - news/**
      - src/**
      - static/**
      - package.json
      - pnpm-lock.yaml
      - docusaurus.config.js
      - postcss.config.cjs
      - tailwind.config.cjs
      - uno.config.ts
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: PNPM Build
        uses: ./.github/workflows/composite_npm_build

      - name: Deploy to gh-pages branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
